<div>
  <div class="flex flex-col gap-y-[100px] h-screen">
    <div>
      <div class="flex flex-row gap-x-3 w-[250px]">
        <mat-icon class="text-4xl" fontIcon="call_merge"></mat-icon>
        <div class="text-4xl font-inter">AsingLah</div>
      </div>
    </div>
    <div>
      <div class="flex flex-col gap-y-5 w-[250px]">
        <!-- dashboard item 1 -->
        <div
          class="flex flex-row hover:bg-gray-400 transition cursor-pointer gap-x-[10px]"
          (click)="onDashboardClick()"
        >
          <mat-icon fontIcon="home"></mat-icon>
          <div>dashboard</div>
        </div>
        <!-- all expense item  -->
        <div
          class="flex flex-row hover:bg-gray-400 transition cursor-pointer gap-x-[10px]"
          (click)="onExpenseClick()"
        >
          <mat-icon fontIcon="attach_money"></mat-icon>
          <div class="flex-grow-[3]">All expenses</div>
          <svg width="24" height="24" viewBox="0 0 24 24" class="mr-2">
            <!-- Example icon shape -->
            <circle cx="12" cy="12" r="10" fill="cyan"></circle>

            <!-- Dynamic number -->
            <text x="12" y="16" text-anchor="middle" font-size="12" fill="black">
              {{ expenseCount }}
            </text>
          </svg>
        </div>
        <!-- expense groups  -->
        <div class="flex flex-row">
          <div class="flex flex-col w-[240px]">
            <!-- Top row -->
            <div class="flex flex-row">
              <div
                class="flex flex-row flex-grow-[10] hover:bg-gray-400 transition cursor-pointer gap-x-[10px]"
              >
                <mat-icon fontIcon="assignment"></mat-icon>
                <div>Groups</div>
              </div>

              <div class="flex flex-row">
                <!-- Right side icons -->
                <div class="flex flex-row items-center gap-x-2 ml-auto">
                  <mat-icon
                    class="hover:bg-gray-400 transition cursor-pointer"
                    fontIcon="add"
                    (click)="notifyAddExpenseGroup()"
                  ></mat-icon>

                  <mat-icon
                    class="hover:bg-gray-400 transition cursor-pointer"
                    [ngClass]="{ 'rotate-180': isExpanded }"
                    fontIcon="keyboard_arrow_down"
                    (click)="onExpandExpenseGroup()"
                  ></mat-icon>
                </div>
              </div>
            </div>

            <!-- Expandable section -->
            <div
              class="transition-all duration-300 overflow-hidden"
              [style.maxHeight]="isExpanded ? '200px' : '0px'"
              *ngIf="isExpanded"
            >
              <div class="overflow-y-auto max-h-[200px] p-2">
                <!-- scrollable content -->
                <ul>
                  <li *ngFor="let item of groupExpenseList$ | async" class="py-1 border-b">
                    {{ item.groupName }}
                  </li>
                  <li>test</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- group request  -->
        <div
          class="flex flex-row hover:bg-gray-500 transition cursor-pointer gap-x-[10px]"
          (click)="onGroupRequestClick()"
        >
          <mat-icon fontIcon="assignment_returned"></mat-icon>
          <div class="flex-grow-[3]">Group requests</div>
          <svg width="24" height="24" viewBox="0 0 24 24" class="mr-2">
            <!-- Example icon shape -->
            <circle cx="12" cy="12" r="10" fill="light-blue"></circle>

            <!-- Dynamic number -->
            <text x="12" y="16" text-anchor="middle" font-size="12" fill="white">
              {{ groupRequestCount }}
            </text>
          </svg>
        </div>
      </div>
    </div>
    <div class="flex flex-col mt-[400px] gap-y-3">
      <div class="flex flex-row gap-x-1">
        <mat-icon fontIcon="account_circle"></mat-icon>
        <div>
          {{ email()?.email }}
        </div>
      </div>
      <div
        class="flex flex-row gap-x-1 hover:bg-gray-400 transition cursor-pointer rounded"
        (click)="onLogOutClick()"
      >
        <mat-icon fontIcon="logout"></mat-icon>
        <div>Log out</div>
      </div>
    </div>
  </div>
</div>
