<div
  class="w-[800px] h-[800px] bg-white border-gray-400 rounded-sm shadow-lg p-[32px] overflow-auto"
>
  <div class="flex flex-col ml-[32px] space-y-[18px]">
    <label class="text-18pt">Add an expense</label>
    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()" class="flex flex-col space-y-[10px]">
      <div class="flex flex-row space-x-4 h-[56px]">
        <mat-icon class="material-icons icon-56 bg-green-200 rounded-md" fontIcon="note"></mat-icon>
        <div class="flex flex-col space-y-[5px]">
          <label for="expenseDescription" class="text-gray-400 text-10pt"> Description </label>
          <input
            id="expenseDescription"
            formControlName="expenseDescription"
            placeholder=" type expense description here"
            class="rounded-md w-[300px] border border-gray-400 placeholder-gray-400 placeholder-italic placeholder:text-8pt"
          />
        </div>
      </div>
      <div class="flex flex-row space-x-4">
        <div class="flex flex-col space-y-[5px]">
          <label class="expenseform-label"> Amount </label>
          <div class="flex flex-row space-x-[5px]">
            <!-- Currency Dropdown Container -->
            <div class="relative inline-block text-left">
              <button
                id="currency-button"
                (click)="toggleDropdown()"
                type="button"
                class="inline-flex justify-center items-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                aria-expanded="true"
                aria-haspopup="true"
              >
                <!-- Default/Selected Currency Display (Placeholder) -->
                <span id="selected-currency-display" class="flex items-center">
                  <img
                    [src]="placeHolderCurrency.imgString"
                    [alt]="placeHolderCurrency.currencyCode + ' flag'"
                    class="w-[48px] mr-3"
                  />
                  <!-- Placeholder for your actual icon path -->
                  {{ placeHolderCurrency.currencyCode }} ($)
                </span>
                <!-- Dropdown Arrow Icon -->
                <svg
                  class="-mr-1 ml-2 h-5 w-5"
                  xmlns="www.w3.org"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>

              <!-- Dropdown menu, hidden by default -->
              <div
                *ngIf="currencyDropDown"
                id="currency-menu"
                class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none"
              >
                <div
                  class="py-1"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="options-menu"
                >
                  <!-- Dropdown Item Option 1 (Flex row item) -->
                  <a
                    href="#"
                    onclick="
                      selectCurrency('MYR', '$', '');
                      return false;
                    "
                    class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                    role="menuitem"
                  >
                    <img
                      src="assets/img/png_jalurgemilang_48px.png"
                      alt="MY Flag"
                      class="w-[48px] mr-3"
                    />

                    MYR ($)
                  </a>
                  <!-- Dropdown Item Option 2 -->

                  <!-- Add more currency options here -->
                </div>
              </div>
            </div>
            <div class="">
              <input
                type="number"
                appInputPriceNumericOnly
                formControlName="expenseAmount"
                class="border rounded-md border-gray-400 h-[40px] w-[100px]"
              />
            </div>
          </div>
        </div>
        <!-- for date -->
        <div class="flex flex-col space-y-[5px]">
          <label class="text-gray-400 text-10pt">Date</label>
          <div class="flex flex-row space-x-[5px] gap-x-[10px]">
            <input
              type="date"
              class="border rounded-md border-gray-400 h-[40px] w-[180px]"
              formControlName="expenseDate"
            />
            <div class="flex flex-row items-center">
              <label
                *ngIf="
                  expenseForm.get('expenseDate')?.hasError('required') &&
                  expenseForm.get('expenseDate')?.touched
                "
                class="text-red-500 text-10pt align-middle justify-center"
                >*Date is required</label
              >
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-row space-x-4">
        <div class="flex flex-col space-y-[20px] w-[300px]">
          <label class="expenseform-label">Paid By</label>
          <div class="flex flex-row space-x-[10px]">
            <button
              type="button"
              (click)="onClickAddPaidBy()"
              class="w-11 h-11 rounded-full bg-gray-300 hover cursor-pointer"
            >
              <mat-icon class="mt-2 w-10 h-10" fontIcon="add"></mat-icon>
            </button>

            <ng-container *ngIf="paidByPerson$ | async as paidPerson">
              <ng-container *ngIf="paidPerson != null">
                <app-removable-avatar
                  [name]="paidPerson.email"
                  [id]="paidPerson.userId"
                  (remove)="onRemovePaidPersonAvatar($event)"
                ></app-removable-avatar>
              </ng-container>
            </ng-container>
          </div>
          <ng-container *ngIf="(paidByPerson$ | async) == null">
            <div
              *ngIf="paidByButton$ | async"
              class="flex flex-col space-y-[8px] h-[150px] w-[300px] border border-gray-400 rounded-sm"
            >
              <ng-container *ngIf="listOfGroupMembers$ | async as members">
                <div *ngIf="members.length > 0" class="mt-2 ml-2 flex flex-col space-y-3">
                  <div
                    *ngFor="let member of members"
                    class="flex flex-row space-x-[5px] hover:bg-gray-400 cursor-pointer"
                    (click)="addPaidBy(member.userId, member.email)"
                  >
                    <mat-icon fontIcon="account_circle" class="w-10 h-1"></mat-icon>
                    <span class="">{{
                      member.userId == currentActiveUser$() ? 'You' : member.email
                    }}</span>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div class="flex flex-col space-y-[20px] w-[300px]">
          <label class="expenseform-label">Split Amongst</label>
          <div class="flex flex-row space-x-[10px]">
            <button
              type="button"
              (click)="onClickSplitAmongst()"
              class="w-11 h-11 rounded-full bg-gray-300 hover cursor-pointer"
            >
              <mat-icon class="mt-2 w-10 h-10" fontIcon="add"></mat-icon>
            </button>
            <ng-container *ngIf="splitAmongstList$() as splitPersonList">
              <ng-container *ngIf="splitPersonList.length > 0">
                <ng-container *ngFor="let splitAmongPerson of splitPersonList">
                  <app-removable-avatar
                    [name]="splitAmongPerson.email"
                    [id]="splitAmongPerson.userId"
                    (remove)="onRemoveSplitAmongstPersonAvatar($event)"
                  ></app-removable-avatar>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <div
            *ngIf="splitAmongButton$ | async"
            class="flex flex-col space-y-[8px] h-[150px] w-[300px] border border-gray-400 rounded-sm overflow-y-auto overflow-x-hidden"
          >
            <ng-container *ngIf="listOfGroupMembers$ | async as members">
              <div *ngIf="members.length > 0" class="mt-2 ml-2 flex flex-col space-y-3">
                <div *ngFor="let member of members" class="flex flex-row space-x-[5px]">
                  <mat-icon fontIcon="account_circle" class="w-10 h-1"></mat-icon>
                  <span class="">{{
                    member.userId == currentActiveUser$() ? 'You' : member.email
                  }}</span>
                  <!-- Checkbox -->
                  <input
                    type="checkbox"
                    [checked]="selectedMembers.has(member)"
                    [disabled]="existingIds().has(member.userId)"
                    (change)="toggleMember(member.userId, member.email, $event)"
                  />
                </div>
              </div>
            </ng-container>
          </div>

          <!-- add button for checked split amongst person -->
          <div *ngIf="splitAmongButton$ | async" class="flex h-[60px] w-[300px]">
            <button
              class="w-full h-full bg-green-500 text-white rounded-full border border-green-500"
              (click)="onClickAddPeople()"
            >
              Add People
            </button>
          </div>
        </div>
      </div>

      <!-- split form tabs -->
      <div class="flex border-b border-solid border-gray-300 w-[500px]">
        <!-- Tab Headers -->
        <div
          class="expense-tab-header"
          [class.expense-tab-header-active]="activeTab === 'expense'"
          (click)="selectTab('expense')"
        >
          Split Expense
        </div>
        <div
          class="expense-tab-header"
          [class.expense-tab-header-active]="activeTab === 'owed'"
          (click)="selectTab('owed')"
        >
          Full Amount Owed
        </div>
      </div>

      <!-- content for first tab -->
      <div
        class="flex flex-col border border-solid rounded-md border-gray-300 h-[400px] w-[500px]"
        *ngIf="activeTab === 'expense'"
      >
        <div class="flex flex-row pt-[12px] pl-[10px]">
          <select
            formControlName="splitMode"
            class="border bg-white border-gray-300 w-[300px] rounded-md px-2 py-1 text-sm focus:outline-none focus:ring-2 focus:ring-blue-400"
          >
            <option value="splitEqual" selected>Split Equally</option>
            <option value="splitPercentage">Split Percentage</option>
            <option value="utilities">Utilities</option>
            <option value="others">Others</option>
          </select>
        </div>
        <div class="flex flex-col pt-[15px] pl-[14px]">
          <ng-container *ngIf="splitAmongstList$() as splitMembers">
            <ng-container *ngIf="splitMembers.length > 0">
              <div
                class="flex flex-col space-y-5 h-[380px] pt-[10px] overflow-auto"
                formArrayName="splitMembers"
              >
                <div
                  class="flex flex-row space-x-3"
                  *ngFor="let splitMemberCtrl of splitMemberArray.controls; let i = index"
                  [formGroupName]="i"
                >
                  <span class="">{{ splitMemberCtrl.get('email')?.value }}</span>
                  <input
                    class="grow-3 underline border-none focus: outline-none ring-0"
                    formControlName="splitExpDesc"
                    type="text"
                    placeholder="optional description"
                  />
                  <div
                    class="flex items-center space-x-1"
                    *ngIf="expenseForm.get('splitMode')?.value === 'splitPercentage'"
                  >
                    <input
                      formControlName="percentage"
                      type="number"
                      min="0"
                      max="100"
                      class="border px-2 py-1 rounded w-[60px] h-[24px]"
                      placeholder="0"
                    />
                    <span>%</span>
                  </div>
                  <div class="flex flex-row w-[60px] space-x-1">
                    <span> $ </span>
                    <span class="underline">
                      {{ splitMemberCtrl.get('amount')?.value ?? 'empty amount' }}
                    </span>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="flex flex-row justify-center w-[500px]">
        <button
          type="submit"
          class="border rounded-full bg-green-500 text-white h-[45px] w-[250px] hover:cursor-pointer"
        >
          Add split expense
        </button>
      </div>
    </form>
  </div>
</div>
