<div class="flex flex-col gap-y-3">
  <div class="flex border-b border-solid border-gray-300 w-full">
    <!-- Tab Headers -->
    <div
      class="expense-tab-header"
      [class.expense-tab-header-active]="activeTab === 'youowed'"
      (click)="selectTab('youowed')"
    >
      You owed
    </div>

    <div
      class="expense-tab-header"
      [class.expense-tab-header-active]="activeTab === 'youareowed'"
      (click)="selectTab('youareowed')"
    >
      You are owed
    </div>
  </div>

  <!--tab content for youowed -->
  <div class="bg-slate-100 w-full h-[300px] rounded-xl" *ngIf="activeTab === 'youowed'">
    <div class="flex flex-row">
      <ag-charts
        class="w-1/2 overflow-x-auto"
        *ngIf="this.OweDonutChart$().length >= 0"
        [options]="oweOptions"
      ></ag-charts>
    </div>
  </div>

  <!--tab content for youareowed -->
  <div class="bg-slate-100 w-full h-[300px] rounded-xl" *ngIf="activeTab === 'youareowed'"></div>
</div>
