/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .asinglah-style {
    @apply text-4xl font-serif font-bold tracking-wide text-gray-900 dark:text-gray-50;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.toast {
  animation: slideIn 0.3s ease-out;
}
