/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .asinglah-style {
    @apply text-4xl font-serif font-bold tracking-wide text-gray-900 dark:text-gray-50;
  }

  .expenseform-label {
    @apply text-gray-400 text-10pt;
  }
  .expense-tab-header {
    @apply px-5 py-2 cursor-pointer text-gray-400 transition-colors duration-300;
  }
  .expense-tab-header-active {
    @apply text-black border-b-2 border-green-500 font-bold;
  }
}

/* Custom font families */
@layer utilities {
  .font-sans {
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  }
  .font-serif {
    font-family: 'Merriweather', serif;
  }
  .font-mono {
    font-family: 'Fira Code', monospace;
  }
} /* Custom font sizes (Google Docs style) */
@layer utilities {
  .text-8pt {
    font-size: 0.67rem;
    line-height: 1rem;
  }
  .text-10pt {
    font-size: 0.83rem;
    line-height: 1.2rem;
  }
  .text-11pt {
    font-size: 0.92rem;
    line-height: 1.3rem;
  }
  .text-12pt {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .text-14pt {
    font-size: 1.17rem;
    line-height: 1.6rem;
  }
  .text-18pt {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .text-24pt {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .text-36pt {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .text-48pt {
    font-size: 4rem;
    line-height: 1.2;
  }

  .icon-24 {
    font-size: 24px !important;
    width: 24px !important;
    height: 24px !important;
  }
  .icon-36 {
    font-size: 36px !important;
    width: 36px !important;
    height: 36px !important;
  }
  .icon-56 {
    font-size: 56px !important;
    width: 56px !important;
    height: 56px !important;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.toast {
  animation: slideIn 0.3s ease-out;
}
